.main {
    min-height: 100vh;
    max-width: 100%;
    background:linear-gradient(45deg,white, black);
    position: relative;
    padding-top: 40px;

    // &::before,
    // &::after {
    //     content: '';
    //     position: absolute;
    //     left: 0;
    // }

    // &::before {
    //     clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
    //     background: linear-gradient(45deg, rgba(216, 46, 8, 0.085), rgba(62, 7, 189, 0.126));
    //     width: 100%;
    //     height: 100%;
    // }
}

.main__container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 100px;
    padding-left: 50px;
}

.main__content {
    margin-left: 3.445rem;
}

.text {
    line-height: 60px;

    p {
        color: rgb(100, 96, 96);
        text-transform: uppercase;
        font-size: 20px;
        font-style: oblique;
    }

    h1 {
        font-size: 50px;
        text-transform: uppercase;
    }

}

.icons {
    display: flex;

    .icon {
        margin-top: 1rem;
        margin-right: 1.4rem;
        font-size: 35px;
        cursor: pointer;
        color: rgb(116, 111, 111);

        &:hover {
            color: black;
        }
    }
}

.main__img {
    clip-path: circle(45% at 50% 49%);
    cursor: pointer;
    // padding-left: 100px;
    // padding-right: 50px;

    img {
        background: linear-gradient(45deg,black,gray);
    }
}

.buttons {

    button {
        padding: 15px 40px;
        margin-top: 2rem;
        margin-right: 1rem;
        background: linear-gradient(25deg, rgb(70, 69, 69),white);
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bolder;

        &:hover {
            color: black;
        }
    }
}

.main__container.active {
    background: red;
    // padding-left: 100px;
}



@media (max-width:1200px) {


    .text {
        white-space: nowrap;
        line-height: 30px;

        p {
            font-size: 14px;
        }

        h1 {
            font-size: 30px;
        }

    }


    .buttons button {
        padding: 8px 20px;
    }

    .icons {
        margin-right: 1rem;

        .icon {
            font-size: 25px;
        }
    }


}

@media (max-width:600px) {

    .main__content {
        margin-left: 0;
    }

    .main__container {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main__img img {
        width: 250px;
    }

    .text {
        h1 {
            font-size: 23px;
        }

        p {
            color: #000;
            font-size: 11px;
        }
    }

    .icons {
        margin-left: 1.5rem;

        .icon {
            color: firebrick;

        }
    }
}